body{
    background-color: #177e5b;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards{
    border: 5px solid #942b2b;
}
.text-while{
    color: #ffffff;
}
.text-underline{
    text-decoration: underline;
}
.card{
    background-color: #ffffff;
    width: 216px;
    margin-bottom: 10px;
}
.profile-icons,
.company-icons{
    text-align: center;
    padding: 10px 0;
}

.profile-icons i,
.company-icons i{
    font-size: 20px;
    margin-right: 10px;
}
.profile-icons{
    color: #942b2b;
    background-color: #ffffff;
}
.description{
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 10px;
}
.description h3{
    margin: 0 0 10px;
    text-transform: uppercase;
}
.profile{
    background-color: #942b2b;
    padding-bottom: 20px;
    padding-top: 100px;
}
.picture{
    text-align: center;
    background-color: #942b2b;
    padding-top: 5px;
}
.information p{
    color: #ffffff;
    margin: 3px auto;
}
.email{
    text-decoration: underline;
}
.image-wrapper{
height: 40px;
text-align: center;

}
.image{
    width: 115px;
    border-radius: 50%;
    border: 4px solid #942b2b;

}
.navigation{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    margin-bottom: 10px;
}
.navigation i {
    font-size: 30px;
    color:#942b2b;
    
}
.navigation ul {
    display: flex;
    list-style-type: none;
}
.navigation a {
    padding: 0 10px;
}
.navigation .logo a {
   text-decoration: none;
   font-weight: bold;
   font-size: 30px; 
}
.form{
    display: flex;
    justify-content: space-around;
}
.form .form-group{
    margin-bottom: 20px;
}
.form .form-group label, 
.form .form-group input {
   display: block;
   font-size: 24px;
}
.form .form-group label {
    margin-bottom: 2px;
    color: #ffffff;
}
.form .form-group input[type=text]{
    width: 400px;
    padding: 10px;
}
.form-group-civilité div{
    display: flex !important;
    justify-content: space-around;
}
.conditions{
    color: #ffffff;
    font-size: 20px;
}
button{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #148080;
    color: #ffffff;
    font-size: 25px;
    border-color: #148080;
}
.error{
    color: rgb(148, 0, 0);
    margin: 0;
    padding: 0;
    display: none;
}

.post {
    background-color: #ffffff;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.posts {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}